html,
body {
    font-family: "Poppins", sans-serif;
}

.hujan-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999;
    pointer-events: none;
}

.rain-drop {
    position: absolute;
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    animation: rain-fall linear infinite;
}

@keyframes rain-fall {
    to {
        transform: translateY(100vh);
    }
}

.rain-drop {
    top: -100px;
    left: calc(100vw * var(--x));
    animation-duration: calc(0.5s + 1.5s * var(--speed));
}

/* Efek kilat */
.petir {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.8;
    animation: flash 0.2s ease-in-out;
    z-index: 9999;
}

@keyframes flash {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}
